h1, h2 {
  font-family: Lato;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  width:  100vw;
  height: 100vh;
}

.person-marker {
  position: absolute;
  background-color: burlywood;  
}

.person-link {
  cursor: pointer;
}